<div class="container">
    <div class="inner-container">
        <div class="pic-pallet no1">
            <img src="../../assets/images/3-image-grid/blossom-by-sea.jpg" alt="">
        </div>
        <div class="pic-pallet no2">
            <img src="../../assets/images/3-image-grid/caffee.jpg" alt="">
        </div>
        <div class="pic-pallet no3">
            <img src="../../assets/images/3-image-grid/coast.jpg" alt="">
        </div>
        <div class="pic-pallet no4">
            <img src="../../assets/images/3-image-grid/door.jpg" alt="">
        </div>
        <div class="pic-pallet no5">
            <img src="../../assets/images/3-image-grid/habor-village.jpg" alt="">
        </div>
        <div class="pic-pallet no6">
            <img src="../../assets/images/3-image-grid/high-building.jpg" alt="">
        </div>
        <div class="pic-pallet no7">
            <img src="../../assets/images/3-image-grid/high-class-outskirts.jpg" alt="">
        </div>
        <div class="pic-pallet no8">
            <img src="../../assets/images/3-image-grid/modern-room.jpg" alt="">
        </div>
        <div class="pic-pallet no9">
            <img src="../../assets/images/3-image-grid/island-shore.jpg" alt="">
        </div>
        <div class="pic-pallet no10">
            <img src="../../assets/images/3-image-grid/plants.jpg" alt="">
        </div>
        <div class="pic-pallet no11">
            <img src="../../assets/images/3-image-grid/cathedral-roof.jpg" alt="">
        </div>
        <div class="pic-pallet no12">
            <img src="../../assets/images/3-image-grid/headlight.jpg" alt="">
        </div>
        <div class="pic-pallet no13">
            <img src="../../assets/images/3-image-grid/shore-city-view.jpg" alt="">
        </div>
        <div class="pic-pallet no14">
            <img src="../../assets/images/3-image-grid/work-hours.jpg" alt="">
        </div>
        <div class="pic-pallet no15">
            <img src="../../assets/images/3-image-grid/traffic.jpg" alt="">
        </div>
    </div>
</div>