<div class="accessible-form-container">
    <div class="acf-inner-container">
        <div class="acf-input-fields">
            <div class="acf-input full-name">
                <label for="full-name">Full Name</label>
                <input type="acf-text" placeholder="What should we call you" id="full-name">
            </div>
            <div class="acf-input email">
                <label for="email">Email</label>
                <input type="email" value="john.doe@gmail.com" id="email" readonly>
                <p>This email is already in use. Please try another one.</p>
            </div>
            <div class="acf-input password">
                <label for="password">Enter Password</label>
                <input type="password" placeholder="xxxxxxxx" id="password">
            </div>
            <div class="acf-input password confirm">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" placeholder="xxxxxxxx" id="confirm-password">
            </div>
            <div class="acf-submit">
                <button type="submit">Update Profile</button>
            </div>
        </div>
        <div class="acf-progress">
            <div class="acf-show-completeness">
                <div class="acf-chart-progress"></div>
                <div class="acf-percentage">65%</div>
            </div>
            <div class="acf-completeness-list">
                <div class="acf-header">
                    <div>Profile completeness</div>
                </div>
                <div class="acf-list">
                    <div class="acf-item done"><p>Create Account</p></div>
                    <div class="acf-item done"><p>Update Roadmap Progress</p></div>
                    <div class="acf-item done"><p>Setup Public Profile</p></div>
                    <div class="acf-item active"><p>Complete your first project</p></div>
                    <div class="acf-item active"><p>Invite your Friends</p></div>
                </div>
            </div>
        </div>
    </div>
</div>