.tooltip-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tt-header {
    display: flex;
}

.tt-header > div > span {
    position: relative;
    display: inline-block;
    cursor: help;
    padding: 0.25rem 0.5rem;
}

.tooltip {
    width: 250px;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;

    font-size: 14px;
    background-color: #333;
    color: #fff;
    border-radius: 6px;
    padding: 8px;
    opacity: 0;

    transition: opacity 0.3s ease-in-out;
    visibility: hidden;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.tt-header > div:hover .tooltip {
    opacity: 1;
    visibility: visible;
}