<!-- Using only HTML, CSS -->
<!-- Using Flex-box, not Grid -->
<!-- All images and testimonials are fabricated and copied from the internet, so no offense taken. -->
<div class="testimonial-cards-container">
    <div class="testimonial-card" id="no-1">
        <p class="testimonial">
            Roadmap.sh provides so many useful resources that 
            I couldn't look it up myself. 
            I was confused about what to learn, thanks to Roadmap.sh, 
            now I know exactly what to do next.</p>
        <div>
            <img src="../../assets/images/testimonial-1.png" alt="Artem Jones" class="profile-pic">
            <div>
                <p class="name">Artem Jones</p>
                <p class="title">Junior Frontend Developer</p>
            </div>
        </div>
    </div>
    <div class="testimonial-card" id="no-2">
        <p class="testimonial">
            Having done many project ideas on Roadmap.sh, 
            I have learned so much and grown exponentially. 
            Moreover, I have also made some friends along the way.
            <br>Thanks for creating such a wonderful platform!
        </p>
        <div>
            <img src="../../assets/images/testimonial-2.png" alt="John Doe" class="profile-pic">
            <div>
                <p class="name">John Doe</p>
                <p class="title">Junior Backend Developer</p>
            </div>
        </div>
    </div>
    <div class="testimonial-card" id="no-3">
        <p class="testimonial">
            I was doing project ideas on Roadmap.sh, 
            I did feel stuck at some points but then 
            I found out there were community solutions which 
            helped me solve those problems. 
            Now I'm confident enough to start working on 
            projects and applying for jobs! 
            <br>Highly recommended!
        </p>
        <div>
            <img src="../../assets/images/testimonial-3.png" alt="Jackie Mackle" class="profile-pic">
            <div>
                <p class="name">Jackie Mackle</p>
                <p class="title">Junior Backend Developer</p>
            </div>
        </div>
    </div>
    <div class="testimonial-card" id="no-4">
        <p class="testimonial">
            Roadmap.sh is an incredible resource for 
            anyone looking to learn web development. 
            The roadmaps are well structured and 
            cover everything you need to know.
            <br>Highly recommended!
        </p>
        <div>
            <img src="../../assets/images/testimonial-4.png" alt="Chankie Jack" class="profile-pic">
            <div>
                <p class="name">Chankie Jack</p>
                <p class="title">Junior Fullstack Developer</p>
            </div>
        </div>
    </div>
    <div class="testimonial-card" id="no-5">
        <p class="testimonial">
            I have been following Roadmap.sh since last year and 
            I can say that this website has changed my life. 
            I was able to get a job as a frontend developer within months after 
            starting with Roadmap.sh.
            </p>
        <div>
            <img src="../../assets/images/testimonial-5.png" alt="Saddie Scotts" class="profile-pic">
            <div>
                <p class="name">Saddie Scotts</p>
                <p class="title">Junior Frontend Developer</p>
            </div>
        </div>
    </div>
    <div class="testimonial-card" id="no-6">
        <p class="testimonial">
            I have been solving all project ideas on Roadmap.sh and 
            now I am suprised how far I become from where I started.
        </p>
        <div>
            <img src="../../assets/images/testimonial-6.png" alt="Trinh Nguyen" class="profile-pic">
            <div>
                <p class="name">Trinh Nguyen</p>
                <p class="title">Junior Fullstack Developer</p>
            </div>
        </div>
    </div>
    <div class="testimonial-card" id="no-7">
        <p class="testimonial">
            Since starting my career in 2021, 
            I have only followed one resource, Roadmap.sh, 
            and it truly helped me go from 0 to having a job.
        </p>
        <div>
            <img src="../../assets/images/testimonial-7.png" alt="John Colony" class="profile-pic">
            <div>
                <p class="name">John Colony</p>
                <p class="title">Junior Backend Developer</p>
            </div>
        </div>
    </div>
    <div class="testimonial-card" id="no-8">
        <p class="testimonial">
            I find myself recommending Roadmap.sh to 
            all the internees or junior developers. 
            It's a great way to skill up and grow in your career.
        </p>
        <div>
            <img src="../../assets/images/testimonial-8.png" alt="Hang Tran" class="profile-pic">
            <div>
                <p class="name">Hang Tran</p>
                <p class="title">Engineering Manager</p>
            </div>
        </div>
    </div>
    
</div>